{:highlights [{:id #uuid "6776bfe5-13bc-4a4b-b65c-e7e365ba20e4",
               :page 6,
               :position {:bounding {:x1 85.984375,
                                     :y1 275.9375,
                                     :x2 851.020751953125,
                                     :y2 447.578125,
                                     :width 946.9999999999999,
                                     :height 1340.124369747899},
                          :rects ({:x1 512.609375,
                                   :y1 275.9375,
                                   :x2 613.8828125,
                                   :y2 380.4375,
                                   :width 946.9999999999999,
                                   :height 1340.124369747899}
                                  {:x1 512.609375,
                                   :y1 290.9375,
                                   :x2 613.8828125,
                                   :y2 365.5546875,
                                   :width 946.9999999999999,
                                   :height 1340.124369747899}
                                  {:x1 124.1484375,
                                   :y1 321.09375,
                                   :x2 268.5539245605469,
                                   :y2 425.59375,
                                   :width 946.9999999999999,
                                   :height 1340.124369747899}
                                  {:x1 354.4609375,
                                   :y1 321.09375,
                                   :x2 379.3125,
                                   :y2 425.59375,
                                   :width 946.9999999999999,
                                   :height 1340.124369747899}
                                  {:x1 430.8828125,
                                   :y1 321.09375,
                                   :x2 851.020751953125,
                                   :y2 425.59375,
                                   :width 946.9999999999999,
                                   :height 1340.124369747899}
                                  {:x1 396.298828125,
                                   :y1 329.5546875,
                                   :x2 436.2355651855469,
                                   :y2 356.0546875,
                                   :width 946.9999999999999,
                                   :height 1340.124369747899}
                                  {:x1 124.1484375,
                                   :y1 336.09375,
                                   :x2 268.5539245605469,
                                   :y2 410.7109375,
                                   :width 946.9999999999999,
                                   :height 1340.124369747899}
                                  {:x1 354.4609375,
                                   :y1 336.09375,
                                   :x2 379.3125,
                                   :y2 410.7109375,
                                   :width 946.9999999999999,
                                   :height 1340.124369747899}
                                  {:x1 430.8828125,
                                   :y1 336.09375,
                                   :x2 851.020751953125,
                                   :y2 410.7109375,
                                   :width 946.9999999999999,
                                   :height 1340.124369747899}
                                  {:x1 85.984375,
                                   :y1 343.078125,
                                   :x2 110.8359375,
                                   :y2 447.578125,
                                   :width 946.9999999999999,
                                   :height 1340.124369747899}
                                  {:x1 124.1484375,
                                   :y1 343.078125,
                                   :x2 149.49893188476562,
                                   :y2 447.578125,
                                   :width 946.9999999999999,
                                   :height 1340.124369747899}
                                  {:x1 85.984375,
                                   :y1 358.078125,
                                   :x2 110.8359375,
                                   :y2 432.6953125,
                                   :width 946.9999999999999,
                                   :height 1340.124369747899}
                                  {:x1 143.2734375,
                                   :y1 374.4453125,
                                   :x2 150.9375,
                                   :y2 400.9453125,
                                   :width 946.9999999999999,
                                   :height 1340.124369747899}
                                  {:x1 249.4375,
                                   :y1 374.4453125,
                                   :x2 335.4014587402344,
                                   :y2 400.9453125,
                                   :width 946.9999999999999,
                                   :height 1340.124369747899}
                                  {:x1 143.2734375,
                                   :y1 378.4453125,
                                   :x2 150.9375,
                                   :y2 397.546875,
                                   :width 946.9999999999999,
                                   :height 1340.124369747899}
                                  {:x1 249.4375,
                                   :y1 378.4453125,
                                   :x2 335.4014587402344,
                                   :y2 397.546875,
                                   :width 946.9999999999999,
                                   :height 1340.124369747899}),
                          :page 6},
               :content {:text "atre.         1  Last week\b            !"},
               :properties {:color "yellow"}}],
 :extra {:page 6}}
